/* =================== */
/* Reset */
/* =================== */

* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    line-height:1;
    max-width:100%;
    font-weight:100;
    /* border:1px solid gray; */
}

a {
    text-decoration:none;
}
/* =================== */
/* General Styles */
/* =================== */

html {
    font-size:62.5%;
}


body {
    font-size:1.9rem;
    line-height:1.5;
    background-color:#f8f9fa;
    color:#343a40;
    font-family: 'Lato', 'Helvetica', sans-serif;
}

.nav-wrapper {
    /* background-color:pink; */
    padding:2rem 0;
    /* display:flex; */
    /* align-items:baseeline; */
    border-bottom: 1px solid #d5d5d5;

}

.nav-wrapper a {
    margin-bottom:1rem;
    /* background-color:plum; */
}

.logo {
    border-radius:0;
    width:18rem;
    margin-right: 20%;
}



.nav-button {
    font-weight:bold;
    font-size:1.5rem;
    color:#343a40;
    margin:0 1rem;
    padding:1rem 1rem;
}

.content-wrapper { 
    width:80%;
    margin: 0 auto;
}





h1{
    font-size:7rem;
    margin: 4.5rem 0 1.5rem 0;
    font-family: 'Frank Ruhl Libre', 'Times New Roman', serif;
    color:black;
}

h2{
    font-size:4.5rem;
    font-family: 'Frank Ruhl Libre', 'Times New Roman', serif;
    margin: 0 0 1.5rem 0;
    color:black;
}
h3{
    font-family:'Frank Ruhl Libre', 'Times New Roman', Serif;
    font-size:2.5rem; 
}
a{
    font-weight:bold;
    color:black;
}

p{
    line-height:1.2rem;
    margin:0 0 2.5rem 0;
}

img {
    border-radius:30px;
}

.flex-row {
    display:flex;
    flex-flow:row wrap;
}
.flex-row-items{
    background-color:#aaa;
}
.red-button {
    border-radius:10px;
    padding:1rem;
    background-color:#ec3944;
    color:white;
}

.red-underline {
    background-image: url("img/lambda-underline.png");
    background-size:100%;
    background-repeat:no-repeat;
    background-position:bottom;
    color:#ec3944;
}
/* =================== */
/* Team */
/* =================== */
.contacts-wrapper {
    display:flex;
    flex-flow:row wrap;
}
.contact-card {
    background-color:palegreen;
    background-size:100%;
    background-repeat:no-repeat;
    border:1px solid #d5d5d5;
    border-radius:25px;
    height:35rem;
    width:35rem;
    margin:1rem;
    overflow:hidden;
    display:flex;
    align-items:flex-end;
}


.contact-card-text{
    background-color:#f8f9fa;
    width:100%;
    
}
.contact-card h3 {
   padding:2rem 0 .5rem 0;
}
.contact-card p {
    color:#777;
    padding-bottom:1.5rem;
}


.emily {
    background-image:url("img/team-Emily-Adams.jpg");
}
.devin {
    background-image:url("img/team-Devin-Bidwell.jpg");
}
.brian {
    background-image:url("img/team-Brian-Griffiths.png");
}
.juan {
    background-image:url("img/team-Juan-Aleman.jpg");
}
.suzanne {
    background-image:url("img/team-Suzanne-Cabral.png");
}


@media (max-width:600px) {
    body {
        background-color:palegreen;
    }
}